<!doctype html>
<html>
<head>
  <title>ARE YOU HUNGRY?</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

<%= yield %>  <!-- YIELD!!!!!!!!!!!!   -->



</body>
</html>